/*O CSS considera a especificidade a cascata*/

/*============== GERAL ==============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Contagem realizada a partir da borda da caixa*/
}

:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsla(210, 9%, 31%, 1);
  --beige: hsla(39, 100%, 97%, 1);
  --brand-green-light: hsl(148, 23%, 89%);
  --nav-height: 7.2rem;

  font-size: 62.5%; /*1rem = 10px*/
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay; /*Para desconsiderar o tamanho da barra de rolagem --> scroll da página*/
}

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}
ul{
  list-style: none;
}
/*============ HEADER ==============*/

header{
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before{
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p{
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button{
  background: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6.0rem;
  height: 5.2rem;
  width: 26.3rem;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: uppercase;
  font-weight: 700;

  display: flex; /*deixa os elementos da caixa flexíveis*/
  align-items: center; /*alinha no eixo y*/
  justify-content: center; /*Eixo X*/
  gap: 1.6rem; /*espaço entre os elementos da caixa*/

  /*Ajuste do botão ao centro:*/
  margin-left: auto;
  margin-right: auto;
}

header img{
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.stats{
  width: 32.7rem;
  height: 47rem;

  /*padding-top: auto; e  padding-bottom: auto; --> padding-inline: auto;*/
  padding-block: 4rem;

  /*margin-left: auto; e  margin-right: auto; --> margin-inline: auto;*/
  margin-inline: auto;

  background: var(--beige);
  border: 1px solid var(--brand-green-light);
  border-radius: 6rem;
  /*alinhar caixas uma embaixo da outra bem ao centro: */
  flex-direction: column;
  justify-content: center;
  gap: 6rem;  
}

.stat h3{
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

.stat p{
  margin:0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*============ NAVIGATION ============*/
nav{
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /*desloca apenas metade do eixo x para a esquerda!*/

  padding: 1.6rem 2.4rem;
}

nav.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll{
  background: var(--primary-color);
  width: 100vw;
}

/*Aplica a cor branca para os fill do primeiro filho svg de scroll:*/
nav.scroll svg:nth-child(1) path{
  fill: white;
}

/*Aplica a cor branca para os stroke (propriedade de path) do segundo filho svg de scroll sem afetar o primeiro:*/
nav.scroll button path {
  stroke: white;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;

}

/*============== MENU EXPANDED ==============*/
body.menu-expanded{
  overflow: hidden; /*Não há mais scroll*/
}

body.menu-expanded > :not(nav){ /*Todos os elementos do 1 nivel, exceto o Nav/
  display: none; /*desaparece com tudo do primeiro nível!*/
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu{/*quando o body estiver com o menu expanded, será aplicado:*/
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  padding-top: var(--nav-height);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded nav{
  position: relative;
}

.menu ul:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
  line-height: 3.125rem;

  font-family: 'DM Sans';
  font-size: 2.4rem;
  font-weight: 700;
}

.menu ul li a{
  text-decoration: none;
  color: var(--beige);
}

.menu .button{
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom:8rem;

/*
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 274px;
  height: 55px;
  left: 50px;
  top: 448px;
*/
}

.social-medias-links{
  display: flex; /*Ficarão um ao lado do outro*/
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body .menu-expanded .logo,
body .menu-expanded nav button{
  position: relative; /*destrava a propriedade Z-index*/
  z-index: 100;
}

/*Cor branca no logo com o menu expanded*/
body .menu-expanded .logo path{
  fill: white;
}

/*Aplica a cor branca para os stroke (propriedade de path) do segundo filho svg de scroll sem afetar o primeiro:*/
body .menu-expanded button path {
  stroke: white;
}
